.container-login {
	background: url('../../assets/background2.jpg') no-repeat center;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login {
	width: 400px;
	background-color: white;
	padding: 50px;
	border-radius: 5px;
	font-weight: 500;
	color: #707070;
}

.login img {
		margin: 0 auto;
		font-size: 40px;
}

.login form input {
	width: 100%;
	height: 45px;
	padding: 20px;
	margin-top: 10px;
	font-size: 14px;
	background: whitesmoke;
	border: none;
	margin-bottom: 20px;
	border-radius: 50px;
}

.login form button {
	width: 100%;
	height: 45px;
	border: none;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
	border-radius: 50px;
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(146,55,162,1) 0%, rgba(237,237,237,1) 0%, rgba(253,29,29,1) 0%, rgba(183,30,34,1) 0%, rgba(163,0,5,1) 28%, rgba(244,120,120,1) 100%);
	box-shadow:  0 8px 16px 0 rgba(40,40,90,.09), 0 3px 6px 0 rgba(0,0,0,.065);
	color: white;
}

.login a {
	text-decoration: none;
	color: #707070;
}
