.container {
	width:  100%;
	display: flex;
}

/*side bar*/

.side-bar {
	position: fixed;
	width: 18%;
	height: 100vh;
	background-color: #222222;
	font-weight: 500;

}
@media(max-width: 760px) {
	.side-bar {
		display: none;
	}
}

.side-bar .logo {
	background-color: #ffffff;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.side-bar .logo img {
	height: 60px;
}

.side-bar ul li {
	list-style: none;
	display: flex;
	align-items: center;
	list-style: none;
	padding: 10px;
	border-bottom: 1px solid #141414;
}

.side-bar ul li i{
	font-size: 18px;
	margin-right: 15px;
	color: #999999;
}

.side-bar ul a {
	text-decoration: none;
	font-size: 15px;
	color: #999999;
}

.side-bar ul li:hover {
	background-color: #2e2e2e;
	border-left: 5px solid red;
}

/*main*/

.main {
	width: 82%;
	margin-left: 18%;
}

@media(max-width: 760px) {
	.main {
		width: 100%;
		margin-left: 0;
	}
}

/*header*/

.header {
	width: 82%;
	height: 60px;
	display: flex;
	position: fixed;
	background-color: #ffffff;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.065);
	padding: 20px;
}

.header ul {
	display: flex;
	align-items: center;
}

.nav-left {
	flex-grow: 1;
}

.header ul li {
	list-style: none
}

.header ul li input {
	width: 300px;
	height: 30px;
	border-radius: 50px;
	border: 1px solid #888888;
	background-color: none;
	margin: 10px;
	padding: 10px;
}

.icon-header  {
	color: #888888;
	font-size: 20px;
	margin: 20px
}

.header ul li img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.065);
}

@media(max-width: 760px) {
	.header {
		width: 100%;
	}

	.header ul li input {
		width: 100%;
	}
}

.header .dropdown{
	position: absolute;
	right: 0;
	margin-top: 10px;
	margin-right: 5px;
	padding: 0;
	display: block;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(40,40,90,.09), 0 3px 6px 0 rgba(0,0,0,.065)!important;
}

.header .dropdown li {
	width: 100%;
	display: flex;
	align-items: center;
	color: #2e2e2e;
	padding: 20px;
	border-bottom: 1px solid  #f5f5f5;
}

.header .dropdown li:hover {
	background-color: #ff3f3f;
	color: #ffffff;
}

.header .dropdown i {
	font-size: 18px;
	margin-right: 5px;
}

.header .dropdown .user-perfil {
	margin-left: 10px;
}

.header .dropdown .user-title {
	font-size: 18px;
	text-transform: capitalize;
}

/*content*/

.content {
	margin-top: 60px;
}

.footer {
	width: 100%;
	font-size: 15px;
	text-align: center;
	padding: 20px;
	background-color: #ffffff;
}

@media(max-width: 760px) {
	.footer {
		width: 100%;
		margin-top: 0;
	}
}

