.form-container {
	padding: 20px;
}


.form-row {
	width: 100%;
	padding: 30px 20px;
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(40,40,90,.09), 0 3px 6px 0 rgba(0,0,0,.065)!important;
}

.form-group {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 20px 0px;
}

.form-group input, select {
	width: 80%;
	height: 40px;
	font-size: 16px;
	color: #494949;
	border-radius: 5px;
	border: 1px solid gray;
	padding: 20px;
	background: none;
}

.form-group label {
	width: 20%;
	margin-left: 10px;
	font-size: 14px;
	color: gray;
	text-transform: uppercase;
}

.form-header {
	margin-top: 40px;
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 2px solid gray;
}

.form-header h4 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
}

.form-header i {
	font-size: 18px;
	margin-right: 10px;
}

.button-group {
	display: flex;
	margin-top: 20px;
	border-top: 1px solid #cccc;
	align-items: center;
	width: 100%;
	padding-top: 20px;
}

.button-salvar {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin: 5px;
	font-size: 14px;
	text-transform: uppercase;
	background-color: rgb(255, 41, 41);
	color: white;
	font-weight: 900;
	box-shadow: 0 8px 16px 0 rgba(58, 212, 27, 0.09), 0 3px 6px 0 rgba(154, 241, 14, 0.065)!important;
}

.button-salvar:hover {
	background-color: #b80000;
}

.button-cancelar {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin: 5px;
	font-size: 14px;
	text-transform: uppercase;
	background-color: gray;
	color: white;
	font-weight: 900;
	box-shadow: 0 8px 16px 0 rgba(207, 10, 10, 0.09), 0 3px 6px 0 rgba(214, 39, 16, 0.065)!important;
}

.button-cancelar:hover {
	background-color: #494949;
}



