@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: 0;
}

body {
	background-color: #f5f5f5;
	font: 400 14px Roboto, sans-serif;
	color: #636363;
}

img {
  max-width: 100%;
  display: block;
}

button {
	cursor: pointer;
	text-decoration: none;
	border: none;
	text-decoration: none;
}

button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

/*grid*/

.col-6 {
	width: 49%;
}

.col-12 {
	width: 100%;
}

.row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

@media(max-width: 760px) {
	.row {
		width: 100%;
		flex-direction: column;
		padding: 0 20px;
	}
}

/*card*/

.card {
	font-size: 18px;
	background-color: #ffffff;
	border-radius: 0 0 5px 5px;
	box-shadow:  0 8px 16px 0 rgba(40,40,90,.09), 0 3px 6px 0 rgba(0,0,0,.065);
	margin-bottom: 10px;
	z-index: -1;
}

.card-header {
	padding: 15px 20px;
	border-bottom: 2px solid #b1aaaa;
	font-size: 18px;
	font-weight: 600;
}

.card-body {
	padding: 20px;
}

@media(max-width: 760px) {
	.card {
		width: 100%;
		margin-bottom: 20px;
	}
}


/*tables*/

.card-table {
	font-size: 18px;
	background-color: #ffffff;
	border-radius: 0 0 5px 5px;
	box-shadow:  0 8px 16px 0 rgba(40,40,90,.09), 0 3px 6px 0 rgba(0,0,0,.065);
	margin-bottom: 10px;
}

.table-content {
	overflow-x: auto;
	border-collapse: collapse;
}

.card-table table {
	width: 100%;
	text-align: left;
	font-size: 16px
}

.card-table td, th {
	padding: 20px;
	border-top: 1px solid #dddddd;
}


.button-salvar {
	padding: 10px 12px;
	border-radius: 5px;
	border: none;
	margin: 5px;
	font-size: 14px;
	text-transform: uppercase;
	background-color: rgb(255, 41, 41);
	color: white;
	font-weight: 600;
	box-shadow: 0 8px 16px 0 rgba(58, 212, 27, 0.09), 0 3px 6px 0 rgba(154, 241, 14, 0.065)!important;
}

.button-cancelar {
	padding: 10px 12px;
	border-radius: 5px;
	border: none;
	margin: 5px;
	font-size: 14px;
	text-transform: uppercase;
	background-color: gray;
	color: white;
	font-weight: 600;
	box-shadow: 0 8px 16px 0 rgba(207, 10, 10, 0.09), 0 3px 6px 0 rgba(214, 39, 16, 0.065)!important;
}
